;; shadow-cljs configuration
{:source-paths ["src/cljs"]
 :dependencies [[re-frame "0.10.6"]
                [cider/cider-nrepl "0.17.0"]]
 :builds {:dev {:target :browser
                :modules {:main {:init-fn cogni.app/init}}
                :devtools {:http-root "public"
                           :http-port 8891
                           :after-load cogni.app/render}}}}
